{
    "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg-tool/main/docs/vcpkg.schema.json",
    "name": "{{ project_name }}",
    "version": "{{ version }}",
    "dependencies": []
{%- if enable_tests %},
    "features": {
        "build-tests": {
            "description": "Build unit tests",
            "dependencies": [
                "catch2"
            ]
        }
    }
{%- endif %}
}
