{% set upper_name = project_name | replace('-', '_') | upper -%}
{% set cmakedir = '${' ~ upper_name ~ '_INSTALL_CMAKEDIR}' -%}
{% if project_type == 'library' -%}
option(BUILD_SHARED_LIBS "Build library as shared library" OFF)
add_library({{ project_name }})
{% else -%}
add_library({{ project_name }} INTERFACE)
{% endif -%}
add_library({{ project_name }}::{{ project_name }} ALIAS {{ project_name }})
{% if project_type == 'library' %}
set_target_properties({{ project_name }} PROPERTIES
    LINKER_LANGUAGE CXX
    SOVERSION ${PROJECT_VERSION_MAJOR}
    VERSION ${PROJECT_VERSION}
)
target_config({{ project_name }})

if (BUILD_SHARED_LIBS)
    target_compile_definitions({{ project_name }}
        PRIVATE {{ macro_namespace }}_EXPORT_SHARED
        INTERFACE {{ macro_namespace }}_BUILD_SHARED
    )
endif ()

target_implementations({{ project_name }} "src"
    # Source files here (relative to ./src)
    "dummy.cpp"
)
{% else %}
target_compile_features({{ project_name }} INTERFACE cxx_std_20)
{% endif %}
target_public_headers({{ project_name }} "${CMAKE_CURRENT_SOURCE_DIR}/include" "include/{{ include_dir }}"
    # Header files here
{% if project_type == 'library' %}    "export.h"
{% endif %})

# find_package(fmt CONFIG REQUIRED)

target_link_libraries({{ project_name }}
{% if project_type == 'library' %}PUBLIC{% else %}INTERFACE{% endif %}
    # fmt::fmt
)

include(CMakePackageConfigHelpers)
write_basic_package_version_file(
    "${PROJECT_BINARY_DIR}/{{ project_name }}ConfigVersion.cmake"
    VERSION ${PACKAGE_VERSION}
    COMPATIBILITY SameMajorVersion
)

include(GNUInstallDirs)
set({{ upper_name }}_INSTALL_CMAKEDIR
    ${CMAKE_INSTALL_LIBDIR}/cmake/{{ project_name }}
    CACHE STRING "Path to {{ project_name }} cmake files"
)

install(TARGETS {{ project_name }}
    EXPORT {{ project_name }}Targets
    LIBRARY
        DESTINATION ${CMAKE_INSTALL_LIBDIR}
        COMPONENT Runtime
        NAMELINK_COMPONENT Development
    ARCHIVE
        DESTINATION ${CMAKE_INSTALL_LIBDIR}
        COMPONENT Development
    RUNTIME
        DESTINATION ${CMAKE_INSTALL_BINDIR}
        COMPONENT Runtime
    FILE_SET HEADERS
        DESTINATION ${CMAKE_INSTALL_INCLUDEDIR}
        COMPONENT Development
    FILE_SET CXX_MODULES
        DESTINATION {{ cmakedir }}
        COMPONENT Development
)

configure_package_config_file(
    "${PROJECT_SOURCE_DIR}/cmake/{{ project_name }}Config.cmake.in"
    "${PROJECT_BINARY_DIR}/{{ project_name }}Config.cmake"
    INSTALL_DESTINATION {{ cmakedir }}
)

install(EXPORT {{ project_name }}Targets
    NAMESPACE {{ project_name }}::
    DESTINATION {{ cmakedir }}
)
install(
    FILES
        "${PROJECT_BINARY_DIR}/{{ project_name }}ConfigVersion.cmake"
        "${PROJECT_BINARY_DIR}/{{ project_name }}Config.cmake"
    DESTINATION {{ cmakedir }}
)
